//neutral colors
$color-white: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Dark-grayish-blue: hsl(207, 13%, 34%); //body copy
$Very-dark-black-blue: hsl(240, 10%, 16%); //footer background

//primary Colors
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%); //cta hover background
$very-dark-blue: hsl(208, 49%, 24%);

$primary-font: "Overpass", sans-serif;
$secondary-font: "Ubuntu", sans-serif;

$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturatedblue: hsl(237, 23%, 32%);
